---
layout: page
title: Physics
permalink: /physics/
---

<h4> 443 </h4>

<h2>Publications</h2>

<div class="container">
  <p style="text-align:center">
    <a href="https://scholar.google.com/citations?user=A15RZN4AAAAJ">Google Scholar</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://inspirehep.net/authors/1926101">InspireHEP</a>
  </p>
</div>
<div style="margin-top:-16px"></div>

<div class="container">
  {% for paper in site.data.papers %}
  <div class="row">
    <div class="col-xs-12 col-md-9" style="text-align:left; word-wrap:break-word">
      <span style="font-family:'Consolas'; letter-spacing:-1px">
        {% if paper.listed!=nill %}{% if paper.listed>=0 %}[{{ paper.listed }}]&nbsp;{% else %}[{{ paper.listed }}]{% endif %}{% else %}[&nbsp];{% endif %}
      </span>
      {{ paper.title }}
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-3" style="text-align:right; font-family:'Consolas'; letter-spacing:-1px">
      {% if paper.released!=0 %}
        <span>
          <a href="http://arxiv.org/abs/{{ paper.arxivnumber }}">arXiv:{{ paper.arxivnumber }}</a>
        </span>
      {% else %}
        <span>
          arXiv:{{ paper.arxivnumber }}
        </span>
      {% endif %}
    </div>
  </div>
  <hr style="visibility:hidden"/>
  {% endfor %}
</div>
<hr style="visibility:hidden"/>

<!-- #### "Prehistory"

<div class="container">
{% for paper in site.data.papers-prehistory %}
<div class="row">
  <div class="col-md-11" style="float:left">
    {% if paper.released!=nill %}{% if paper.listed!=nill %}[{{ paper.listed }}]{% endif %}{% endif %} {{ paper.title }} 
  </div>
  <div class="col-md-2" style="text-align:right">
    {% if paper.released!=0 %}<a href="http://arxiv.org/abs/{{ paper.arxivnumber }}">arXiv:{{ paper.arxivnumber }}</a>{% else %}arXiv:{{ paper.arxivnumber }}{% endif %}
  </div>
</div>
<hr style="visibility:hidden"/>
{% endfor %}
</div> -->
<!-- font-size:-1 -->

<hr style="visibility:hidden"/><hr/><hr style="visibility:hidden"/>

<h2>Seminars</h2>

<div class="container">
{% capture datenow %}{{'now' | date: '%s'}}{% endcapture %}
{% for talk in site.data.talks %}
{% capture talkdate %}{{ talk.date | date: '%s'}}{% endcapture %}
  {% if talkdate < datenow and talk.type == "seminar" %}
  <div class="row">
    <div class="col-xs-1">
      <span style="font-family:'Consolas'; letter-spacing:-1px">
        {{ talk.date | date: "%m/%Y" }}
      </span>
    </div>
    <div class="col-xs-11 col-md-10 col-xs-offset-1"> 
      <p style="text-align:left; word-wrap:break-word">
        {% if talk.topic != nil %}
          <em>{{ talk.topic }}</em><br/>
        {% endif %}
        <span style="font-size:-1">
          {% if talk.link != nil %}
            <a href="{{ talk.link }}">{{ talk.title }}</a>
          {% else %}{{ talk.title }}{% endif %}{% if talk.institution != nil %}, {{ talk.institution }}{% endif %}{% if talk.location != nil %}, {{ talk.location }}{% endif %}
        </font>
      </p>
    </div>  
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-1" style="text-align:right">
      {% if talk.video != nil %}
        (<a href="{{ talk.video }}">video</a>)
      {% elsif talk.file != nil %}
        (<a href="{{ talk.file }}">file</a>)
      {% else %}
        &nbsp;
      {% endif %}
    </div>
  </div>
  <hr style="visibility:hidden"/>
  {% endif %}
{% endfor %}
</div>

<hr style="visibility:hidden"/><hr/><hr style="visibility:hidden"/>

<h2>Education</h2>

<div class="container">
  {% for ed in site.data.education %}
    <div class="row">
      <div class="col-xs-12 col-md-7">
        {% if ed.degree!=nill %}
          {{ ed.degree }},<br/>
        {% endif %}
        {{ ed.institution }}
        <br/>
        <span style="font-size:-1">{{ ed.address }}</span>
      </div>
      <div class="col-xs-5" style="text-align:right"> 
        <span style="font-family:'Consolas'; letter-spacing:-1px">{% if ed.start!=nill %}{{ ed.start | date: "%m/%Y" }}{% endif %}</span>–<span style="text-align:right; font-family:'Consolas'; letter-spacing:-1px">{% if ed.end!=nill %}{{ ed.end | date: "%m/%Y" }}{% endif %}</span>
        <!-- {% else %}<span style="opacity:0">00/0000</span> -->
      </div>
    </div>
    <hr style="visibility:hidden"/>
  {% endfor %}
</div>

<hr style="visibility:hidden"/><hr/><hr style="visibility:hidden"/>

<br/>
<div class="container">
  <p style="text-align:right">
    Last Updated:
    <span style="text-align:right; font-family:'Consolas'; letter-spacing:-1px">
      {{ 'now' | date: "%d/%m/%Y"}}
    </span>
  </p>
</div>



