---
layout: page
title: Physics
permalink: /physics/
---

<h4> v73 </h4>


<h2>Education</h2>

<div class="container;">
  {% for ed in site.data.education %}
    <div class="col-7">
      {% if ed.degree!=nill %}
        {{ ed.degree }},
      {% endif %}
      {{ ed.institution }}
      <br/>
      <!-- <span style="font-size:90%">{{ ed.address }}</span> -->
      {{ ed.address }}
    </div>
    <div class="col-5" style="text-align:right;">
      <span style="font-family:'Consolas'; font-stretch:75%; letter-spacing:-1px; font-size:95%;">{% if ed.start!=nill %}{{ ed.start | date: "%m/%Y" }}{% endif %}</span>–<span style="font-family:'Consolas'; font-stretch:75%; letter-spacing:-1px; font-size:95%;">{% if ed.end!=nill %}{{ ed.end | date: "%m/%Y" }}{% endif %}</span>
      <!-- {% else %}<span style="opacity:0">00/0000</span> -->
    </div>
  {% endfor %}
</div>

<hr style="visibility:hidden"/><hr/><hr style="visibility:hidden"/>

<br/>
<div class="container;">
  <p style="text-align:right;">
    Last Updated:
    <font style="font-family:'Consolas'; letter-spacing:-1px;">
      {{ 'now' | date: "%d/%m/%Y"}}
    </font>
  </p>
</div>



