// Colors
$color: #fff;
$color-bg: #000;

$color-primary: #fff;

$color-link: $color-primary;
$color-headings: #fff;

$color-subline: #fff;

$color-box-header: #fff;
$color-box-header-bg: #000;
$color-box-main: $color;
$color-box-main-bg: #000;

$color-marker-bg: $color-primary;


// Map

.map {
  margin-top: 2em;
  position: absolute;

  &-markers {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-marker {
    position: absolute;

    &:after {
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-name: twinkle;
      border-radius: 50%;
      border: 2.8px solid $color-primary;
      content: '';
      height: 0.3em;
      left: -0.12em;
      opacity: 1;
      position: absolute;
      top: -0.12em;
      width: 0.3em;
    }

    &:hover {
      .map-marker-info {
        text-align:center;
        opacity:1;
        z-index:99;
      }
    }
    
    a {
      background-color: $color-marker-bg;
      opacity: 0;
      border-radius: 50%;
      height: .7em;
      display: block;
      text-indent: -9999px;
      width: .7em;
      position: relative;
      left: -5px;
      top: -5px;
      z-index: 100;
    }
  }

  &-marker-Sirius {
    left: 71.8%;
    top: 58.15%;    
    &:after {
      animation-delay: 1s;
    }
  }

  &-marker-aldebaran {
    left: 80.88%;
    top: 39.9%;
    &:after {
      animation-delay: .35s;
    }
  }
}
  
&-marker-info {
  display: none;
  left: 50%;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, -2em);
  width: 14em;
  display: block;
  transition:0.35s;
  opacity: 0;
  z-index: -1;
  text-align:center;
    
  header {
    border-radius:.5em .5em 0 0;
    color: $color-box-header;
    padding: .5em 1em;
    opacity: 1;

  }

  main {
    border-radius: 0 0 .5em .5em;
    color: $color-box-main;
    padding: .5em;
    opacity: 0.95;
  }

  h2 {
    margin-bottom: 0;
  }

  &-inner {
    border-radius: .5em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    font-size: .875em;

    &:after {
      border-left: .75em solid transparent;
      border-right: .75em solid transparent;
      border-top: 1em solid #fff;
      content: '';
      height: 0;
      left: 50%;
      position: absolute;
      top: 100%;
      transform: translateX(-50%);
      width: 0;
      opacity: 0.01;
    }
  }
}

// Animations
// .animate {
//   animation-duration: 10s;
// }

@keyframes twinkle {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  45% {
    opacity: 10;
  }
  50% {
    opacity: 20;
  }
  55% {
    opacity: 10;
  }
  60% {
    opacity: 10;
  }
  100% {
    opacity: 0;
  }
}
.animate-twinkle {
  animation-duration: 3s;
  animation-name: twinkle;
}
