.scr-thumbnails {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; 
  // justify-content: flex-start; /* Align thumbnails to the start of the container */
  // flex-grow: 1;
}

.scr-thumbnail {
  width: 150px;
  height: 150px;
  flex: 0 0 auto;
  margin-right: 10px;
  position: relative;
  perspective: 1000px; /* Adding perspective for 3D effect */
}

.scr-thumbnail:last-child {
  margin-right: 0; /* Remove margin from the last thumbnail to prevent extra space */
}

.scr-thumbnail-image {
}

// #scr-gallery {
//   display: flex;
//   overflow-x: auto; /* Enable horizontal scrolling */
//   white-space: nowrap; /* Prevent images from wrapping to the next line */
// }

.scr-card {
  width: 150px; /* Set width to match thumbnail width */
  height: 150px; /* Set height to match thumbnail height */
  position: absolute;
  transform-style: preserve-3d; /* Ensures child elements are rendered in 3D */
  transition: transform 3.5s;
  user-select: none; /* Disable text selection */
}

.scr-front, .scr-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* Prevents the back side from being visible */
}

.scr-front img {
  width: 100%; /* Set image width to fill the entire card */
  height: 100%; /* Set image height to fill the entire card */
  object-fit: cover; /* Crop the image to cover the entire card */
  object-position: center; /* Center align the image within the card */
  pointer-events: none;
}

.scr-front {
  transform: rotateY(0deg); /* Initially, show the front side (image) of the card */
}

.scr-back {
  // background: rgba(0, 0, 0, 0.971);
  // color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg) scaleX(-1); /* Initially, hide the back side (caption) of the card */
  text-align: center; /* Align text in the center */
  direction: rtl; /* Reverse the text direction */
}

.scr-back img {
  width: 100%;
  height: 100%; /* Match the size of the back side of the card */
}

/* Define CSS animation for flipping */
@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

.scr-thumbnail:hover .scr-card {
  transform: rotateY(180deg); /* Flip the card on hover */
  transition: transform 1.0s;
}



.scr-message-container {
  padding: 10px; /* Add padding to the message container */
  text-align: left;
}

.scr-message {
  min-height: 60px;
  /* background-color: #f0f0f0; */
  padding: 5px;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
}

/* .message {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 38px;
  padding: 10px;
  text-align: center;
  z-index: 999;
  display: none; 
} */