*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media only screen and (max-width: $mobile) {
    font-size: 18px;
  }
}

*::selection {
  // color: var(--white);
  // color: var(--text-color);
  // color: #000000;
  color: var(--selection-text-color);
  background-color: var(--selection-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  letter-spacing: $heading-letter-spacing;
  color: var(--heading-font-color);
}

h1 {
  font-size: $font-size-h1;
  margin-top: 14px;
  margin-bottom: 10px;
}

h2 {
  font-size: $font-size-h2;
  margin-top: 12px;
  margin-bottom: 10px;
}

h3 {
  font-size: $font-size-h3;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  font-size: $font-size-h4;
  margin-top: 10px;
  margin-bottom: 10px;
}

h5 {
  font-size: $font-size-h5;
  margin-top: 8px;
  margin-bottom: 8px;
}

h6 {
  font-size: $font-size-h6;
  margin-top: 6px;
  margin-bottom: 6px;
}

blockquote {
  position: relative;
  margin: 40px 0;
  padding-left: 26px;
  font-size: 24px;
  line-height: 1.7;
  font-weight: 500;
  border-left: 4px solid var(--heading-font-color);
  color: var(--heading-font-color);

  p {
    margin-bottom: 10px;
  }

  cite {
    display: inline-block;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    color: var(--heading-font-color);

  }

  @media only screen and (max-width: $mobile) {
    font-size: 21px;
  }
}

pre {
  overflow: auto;
  padding: 15px;
  margin-bottom: 0;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  color: var(--heading-font-color);
}

img,
.lightense-wrap {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

img,
.lightense-wrap,
.gallery {
  &+em {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: var(--heading-font-color);
  
    a {
      font-weight: 500;
      border-bottom: 1px solid var(--border-color);
      transition: $global-transition;

      &:hover {
        color: var(--link-color);
        border-color: var(--link-color-hover);
      }
    }
  
    @media only screen and (max-width: $mobile) {
      margin-top: 12px;
    }
  }
}

a {
  // text-decoration: underline;
  text-decoration: none;
  color: var(--link-color);
  transition: $global-transition;

  &:hover {
    // text-decoration: underline;
    color: var(--link-color-hover);
  }

  &::selection {
    text-decoration: underline;
  }
}

hr {
  width: 100%;
  height: 7px;
  margin: 60px 0;
  border: 0;
  clear: both;
  background-color: var(--background-alt-color);
  margin-top: 3px;
  margin-bottom: 3px;
}

.table-container {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

table {
  font-size: 12px;
  color: var(--dark);
  width: 100%;
  border-width: 1px;
  border-color: var(--background-alt-color);
  border-collapse: collapse;
  color: var(--heading-font-color);
}

table th {
  padding: 10px;
  font-size: 16px;
  text-align: left;
  border: 1px solid var(--th-color);
  color: var(--heading-font-color);
  font-weight: 700;
  background-color: var(--th-color);
}

table tr {
  background-color: var(--tr-color);
  transition: all .3s ease;
  &:nth-child(even) {
    background-color: transparent;
  }
}

table td {
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--background-alt-color);
}

.button {
  display: inline-block;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .25s;
  color: var(--heading-font-color);
  background: var(--background-alt-color);

  &--primary {
    color: var(--white);
    background-color: var(--button-background-color);

    &:hover {
      // background: var(--button-background-hover);
      background: var(--button-background-color);
    }
  }
}

.lazy {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.lazy.loaded {
  opacity: 1;
}

.lightense-backdrop {
  background-color: var(--background-alt-color) !important;
}



@font-face { 
  font-family: Azeret;
  src: url('fonts/AzeretMono-Light.ttf') format('truetype'); 
}
.Azeret {
    font-family: Azeret;
}
.Consolas {
    font-family: Consolas;
    font-stretch:25%;  letter-spacing:-1px;
}
.ConsolasCond {
    font-family: Consolas;
    font-stretch:50%;  letter-spacing:-1.5px;
    font-size:95%; 
}
.Date {
  font-family: Consolas;
  font-stretch:50%;  letter-spacing:-1.5px;
  font-size:95%; 
  // color:var(--date-color);
}
.Note {
  font-size:95%; 
  color:var(--date-color);
}
.CConsolas {
  font-family: Consolas;
  font-stretch:25%;  letter-spacing:-1px;
  font-size:110%; 
  font-weight: bold;
  color:var(--link-color);
}
.Serif {
  font-family: 'Baskerville', 'Georgia', 'Times New Roman', 'Palatino', serif;
}