/* Color Scheme */

:root {
  --white: #fff;
  --light-gray: #f0f0f0;
  --light-blue: #f8f6fb;
  --blue-gray: #716f8f;
  --gray: #9e9e9e;
  --dark: #0c101a;
  --dark-blue: #1e2740;
  --cal: #FF6E1E;
  --gamma-yellow: #ffd94e;
  --light-yellow: #ffeeb1;
  --schutz: #7cb5ff;
  //
  // --brand-color: #5e3aee;
  --brand-color: #FF6E1E;
  --selection-color: var(--light-yellow);

  --background-color: var(--white);
  --background-alt-color: var(--light-blue);
  
  --text-color: var(--dark-blue);
  --text-alt-color: var(--blue-gray);
  
  --heading-font-color: var(--dark-blue);

  --link-color: var(--cal);
  --link-color-hover: var(--cal);

  --button-color: var(--white);
  --button-background-color: var(--brand-color);
  --button-background-hover: #4f31c7;

  --border-color: var(--light-blue);
  --border-color-alt: var(--light-blue);

  --th-color: var(--light-gray);
  --tr-color: var(--light-gray);

  --syntax-highlighting-background: #f3f3f3;
}

:root[dark] {
  --white: #fff;
  --light-gray: #f0f0f0;
  --gray: #cccccc;
  // --dark: #111016;
  --dark: #0e0e0e;
  --schutz: #7cb5ff;
  --lime: rgb(192, 249, 146);
  --light-yellow: #ffeeb1;
  //
  // --brand-color: #ea301f;
  --brand-color: var(--light-yellow);
  --selection-color: var(--light-yellow);
  --link: #ea301f;

  --background-color: var(--dark);
  --background-alt-color: #18181d;
  
  --text-color: var(--gray);
  --text-alt-color: var(--gray);
  
  --heading-font-color: var(--white);

  --link-color: var(--link);
  --link-color-hover: var(--link);

  --button-color: var(--white);
  --button-background-color: var(--brand-color);
  --button-background-hover: #4f31c7;

  --border-color: #252629;
  --border-color-alt: #080b12;

  --th-color: #18181d;;
  --tr-color: #080b12;

  --syntax-highlighting-background: #080b12;
}