/* Color Scheme */

:root {
  --white: #fff;
  --light-gray: #f0f0f0;
  // --light-blue: #f8f6fb;
  --dim-brown: #f7f6f4;
  --blue-gray: #716f8f;
  // --gray: #9e9e9e;
  --black: #000000;
  // --dark: #0c101a;
  // --dark-blue: #1e2740;
  // --light-cal: #ffa879;
  // --cal: #FF6E1E;
  --light-cloud: #e3ecf5;
  --mute-cloud: #d8e0e8;
  --cloud: #D2DCE6;
  --cloud-tint: #e0eeff;
  --cloud-tint2: #e3eefb;
  --cloud-tint3: #d2e3f5;
  --cloud-g0: #b5cbdf;
  --cloud-g1: #b2beca;
  --cloud-g2: #acbecf;
  --light-star: #8a9aed;
  --star: #6072d1;
  --starr: #5a73f4;
  --warm-cloth: #b19b8c;
  // --warm-cloth-light: #E4E0DC;
  // --warm-cloth-light: #c7bbb0;
  --warm-cloth-light: #c9c1b9;
  --warm-cloth-xlight: #f2f0ee;
  // --starr: #566ee8;
  --gamma-yellow: #ffd94e;
  --light-yellow: #ffeeb1;
  --schutz: #7cb5ff;
  --schutz-tinted: #4c99ff;
  --pepper: #d62010;
  // 
  //
  --theme: var(--schutz-tinted);
  // --selec: var(--cloud);
  --selec: var(--warm-cloth-light);
  --dimmer: var(--dim-brown);
  --button: var(--warm-cloth-light);
  // 
  // 
  // --brand-color: #5e3aee;
  --brand-color: var(--theme);
  --selection-color: var(--selec);
  --selection-text-color: var(--black);

  --background-color: var(--white);
  // --background-color: #f5f7f9;
  --background-alt-color: var(--dimmer); 
  
  --text-color: var(--black);
  // --text-alt-color: #292966;
  --text-alt-color: #464646;
  
  --date-color: var(--pepper);
  
  --heading-font-color: var(--black);

  --link-color: var(--theme);
  --link-color-hover: var(--theme);

  --button-color: var(--white);
  --button-font-color: var(--black);
  --button-background-color: var(--button); // used for scroll up button (scroll-button-top.scss)
  --button-background-hover: var(--button);

  --border-color: var(--dimmer);
  --border-color-alt: var(--dimmer);

  --th-color: var(--light-gray);
  --tr-color: var(--light-gray);

  --syntax-highlighting-background: #f3f3f3;
}

// :root[dark] {
//   --forest-dark: #28302a;
//   // --white: #fff;
//   --white: #ffffff;
//   --light-gray: #f0f0f0;
//   --white-alt: #e1e1ee;
//   --dark-alt: #0F1119;
//   // --gray: #cccccc;
//   // --black: #111016;
//   --black: #000000;
//   --gamma-yellow: #ffd94e;
//   --light-yellow: #ffeeb1;
//   --schutz: #7cb5ff;
//   --schutz-tinted: #4c99ff;
//   --lime: #c0f992;
//   --lg: #B2E797;
//   --olivelgr: #d5e176;
//   --checker-red: #ea301f;
//   --light-mint: #d7f2f8;
//   --mint: #00c5f1;
//   --mblue: #0072dc;
//   --dark-shade: hsl(0, 14%, 1%);
//   // --deep-gray: #0e0e10;
//   --deep-gray: #15151a;
//   // --deep-gray: #0f0f11;
//   --hazy-night: #3C5759;
//   --sergei: #0cea91;
//   // 
//   --candy-mint: #5DC8E4;
//   --magenta: #DC3E9A;
//   --peach: #F8B172;
//   --drop-dark: #1f1f26;
//   // 
//   --glowing-green: #2adc51;
//   --cerulean: #0099ff;
//   --trafficlight-green: #5eff00;
//   --trafficlight-lgreen: #d0ff00;
//   --chocolate: #ce8376;
//   --candy-red: #fb6153;
//   --greenish: #e1e652;
//   --more-olives: #a1bc24;
//   --background-pblue: #1a205a;
//   --lighting-yellow: #f4d455;
//   --saturated-copper: #bc3b24;
//   --burgundy: #5D313F;
//   --gold-ivory: #FCF0DC;
//   --K-gold: #d6b688;
//   --bluegray: #1d1f30;
//   --K-dark: #1c0e0d;

//   --P-darknavy: #121825;
//   --P-charcoal: #0f172a;
//   --P-lighternavy: #1e293b;
//   --soft-white: #f1f5f9;
//   // 
//   --theme: var(--schutz-tinted);
//   --selec: var(--black);
//   --button: var(--schutz-tinted);
//   // 
  
//   --brand-color: var(--theme);
  
//   --selection-color: var(--soft-white);
//   --selection-text-color: var(--selec);
  
//   --background-color: var(--P-charcoal);
//   --background-alt-color: #0F1119;
  
//   --text-color: var(--soft-white);
//   --text-alt-color: var(--white-alt);
  
//   --date-color: var(--pepper);
  
//   --heading-font-color: var(--soft-white);

//   --link-color: var(--theme);
//   --link-color-hover: var(--theme);

//   --button-color: var(--black);
//   --button-font-color: var(--black);
//   --button-background-color: var(--button);
//   --button-background-hover: var(--button);

//   --border-color: #252629;
//   --border-color-alt: #080b12;

//   --th-color: #18181d;;
//   --tr-color: #080b12;

//   --syntax-highlighting-background: #080b12;
// }

:root[dark] {
  // --white: #fff;
  --white: #ffffff;
  --light-gray: #f0f0f0;
  --white-alt: #e1e1ee;
  --dark-alt: #0F1119;
  // --gray: #cccccc;
  // --black: #111016;
  --black: #000000;
  --gamma-yellow: #ffd94e;
  --light-yellow: #ffeeb1;
  --schutz: #7cb5ff;
  --lime: #c0f992;
  --lg: #B2E797;
  --olivelgr: #d5e176;
  --checker-red: #ea301f;
  --light-mint: #d7f2f8;
  --mint: #00c5f1;
  --mblue: #0072dc;
  --dark-shade: hsl(0, 14%, 1%);
  // --deep-gray: #0e0e10;
  --deep-gray: #15151a;
  // --deep-gray: #0f0f11;
  --hazy-night: #3C5759;
  --sergei: #0cea91;
  // 
  --candy-mint: #5DC8E4;
  --magenta: #DC3E9A;
  --peach: #F8B172;
  --drop-dark: #1f1f26;
  // 
  --glowing-green: #2adc51;
  --cerulean: #0099ff;
  --trafficlight-green: #5eff00;
  --trafficlight-lgreen: #d0ff00;
  --chocolate: #ce8376;
  --candy-red: #fb6153;
  --greenish: #e1e652;
  --more-olives: #a1bc24;
  --background-pblue: #1a205a;
  --lighting-yellow: #f4d455;
  --saturated-copper: #bc3b24;
  // 
  --light-star: #8a9aed;
  --star: #6072d1;
  --starr: #5a73f4;
  --warm-cloth: #b19b8c;
  --gamma-yellow: #ffd94e;
  --light-yellow: #ffeeb1;
  --schutz: #7cb5ff;
  --schutz-tinted: #4c99ff;
  --schutz-light: #cfe4ff;
  // 
  --light-cloud: #e3ecf5;
  --mute-cloud: #d8e0e8;
  --cloud: #D2DCE6;
  // 
  --raspberry: #b91279;
  --raspberry-tint: #ed40ab;
  --raspberry-light: #e155ab;
  --raspberry-pink: #dc4faf;
  --schutz-tint: #61a6ff;
  // 
  //
  // --theme: var(--glowing-green);
  // --selec: var(--olivelgr);
  // // --dimmer: var(--drop-dark); // dark-alt
  // --button: var(--checker-red);
  // --theme: var(--trafficlight-lgreen);
  // --theme: var(--candy-red);
  // --theme: var(--schutz-tint);
  // --theme: var(--schutz);
  --theme: var(--raspberry-light);
  // --selec: var(--olivelgr);
  // --selec: var(--lighting-yellow);
  // --selec: var(--more-olives);
  --selec: #10101a;
  // --selec: #29293e;
  // --select: var(--raspberry-tint);
  // --select: var(--raspberry-light);
  --select: var(--mint);
  // --button: var(--candy-red);
  --button: var(--schutz);
  // 
  // 
  // --brand-color: #ea301f;
  --brand-color: var(--theme);
  // --selection-color: #181c60;
  // --selection-color: rgb(7, 5, 81);
  // --selection-color: var(--dark-shade);
  // --selection-color: var(--black);
  // --selection-color: var(--background-pblue);
  --selection-color: var(--selec);
  --selection-text-color: var(--select);
  // --bkg: #29293e;
  // --bkg: #232338;
  --bkg: #292726;
  --dimmer: var(--bkg); // dark-alt
  // --link: #ea301f;
  // --link: var(--mint);

  // --background-color: #1d1d27;
  // --background-alt-color: #21212d;
  --background-color: var(--bkg);
  --background-alt-color: var(--bkg);
  
  --text-color:  #fbfeff;
  --text-alt-color: #fb6153;
  
  --date-color: var(--pepper);
  
  --heading-font-color: var(--white);

  --link-color: var(--theme);
  --link-color-hover: var(--theme);

  --button-color: var(--black);
  --button-font-color: var(--black);
  --button-background-color: var(--button);
  --button-background-hover: var(--button);

  --border-color: #252629;
  --border-color-alt: #080b12;

  --th-color: #18181d;;
  --tr-color: #080b12;

  --syntax-highlighting-background: #080b12;
}