// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 12px;

// Border radius
$global-radius: 3px;

// Transition
$global-transition: all .35s;


// *****************
// Typography
// *****************
$base-font-size: 17px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
// $base-font-family: 'DM Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
// $base-font-family: 'Baskerville', 'Georgia', 'Times New Roman', 'Palatino', serif;
$base-line-height: 1.4;
$base-letter-spacing: -0.5px;
$base-font-stretch: 95%;

// Headings
$heading-font-weight: 700;
$heading-font-family: Noto Sans, Segoe UI, Arial, sans-serif;
// $heading-font-family: Aptos, Helvetica Neue, Helvetica, Arial, sans-serif;
// $heading-font-family: 'Josefin Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
// $heading-font-family: 'Baskerville', 'Georgia', 'Times New Roman', 'Palatino', serif;

$font-size-h1:  30px;
$font-size-h2:  26px;
$font-size-h3:  22px;
$font-size-h4:  18px;
$font-size-h5:  14px;
$font-size-h6:  10px;

$heading-line-height: 1.4;
$heading-letter-spacing: -0.5px;